@import 'assets/reset.css'; /* ← reset */

/* ↓ copy these templates from Github & modify them locally */
@import 'assets/typography.css';
@import 'assets/icons.css';
@import 'assets/buttons.css';
@import 'assets/forms.css';

/* ↓ import here the CodyHouse components */
@import 'components/_1_header.css';
@import 'components/_1_footer.css';
/* ... */

@import 'assets/util.css'; /* ← utility classes */

.micro-gallery-cell {
    width: 100%; /* full width */
}
.flickity-prev-next-button.previous {
    display: none;
}
.flickity-prev-next-button.next {
    display: none;
}
/* position dots up a bit */
.flickity-page-dots {
    display: none;
    /* bottom: -22px; */
}